body {
  font: 100%/1.5em 'Nobile', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #525855;
}

#page {
  width: 100%;
  min-width: 968px;
  overflow: hidden;
  background-image: url(images/maplines2.png);
  background-repeat: no-repeat;
  background-position: center top;
}

/* All content goes inside #container. */

#container {
  width: 968px;
  margin: 0 auto;
}

/*Change the sizes of different headings*/

h1 {
  font: normal 34px/36px 'Lato', sans-serif;
  color: black;
}

h2 {
  font: normal 25px/22px 'Vollkorn', serif;
  letter-spacing: 0.05em;
  line-height: 26px;
}

h3 {
  font: normal 22px/22px 'Vollkorn', serif;
  letter-spacing: 0.05em;
}

h4 {
  font: normal 18px/18px 'Vollkorn', serif;
  letter-spacing: 0.05em;
}

/* Hover effect for headings */

h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  color: #666;
}

/* Header contains the nav links and the map images. */

header {
  width: 100%;
  margin-top: 53px;
  padding-bottom: 8px;
  position: relative;
  /*To  absolute position 'header .arrow' relative to the header */
}

/* The navigation links at the top of the page.*/

header #offset {
  width: 858px;
  margin: 0 auto 41px auto;
}

header #links {
  width: 720px;
  height: 44px;
  font-size: 20px;
  margin-left: 140px;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  /* for abs-positioning #links ul relative to this box */
  position: relative;
  overflow: visible;
  text-transform: uppercase;
  font-family: 'Vollkorn', serif;
}

header #links a {
  color: #cacaca;
  text-decoration: none;
}

#links a.hover,
/* Highlight the link for the currently selected page. */

body.about #links .about a, body.software #links .software a, body.stories #links .stories a, body.blog #links .blog a, body.project #links .project a {
  color: #fff;
  text-shadow: 0 0 3px #1b1b1b;
}

/* Replace home link with centered logo. */

#links a.home {
  text-indent: -9999px;
  margin-top: -22px;
  display: block;
  width: 83px;
  height: 84px;
  background-image: url(../images/comp4.jpg);
  margin-left: -20px;
  z-index: 200;
  position: relative;
  /* needed to make z-index work */
}

#links #offstamp {
  margin-left: auto;
  margin-right: auto;
  width: 183px;
}

#links ul {
  position: absolute;
  left: 5px;
  top: 8px;
  width: 100%;
  padding: 5px 0 0 0;
  margin: 0;
  list-style-type: none;
  z-index: 100;
}

#links .about, #links .stories {
  float: left;
}

#links .other, #links .blog, #links .software {
  float: right;
}

#links .stories {
  background-position: 0px 5px;
  padding-left: 26px;
  padding-left: 26px;
}

#links .other, #links .software {
  background-position: right 5px;
}

#links .about {
  padding: 0 20px 0 14px;
}

#links .software {
  padding: 0 26px 0 20px;
}

#links .other {
  padding-right: 26px;
}

#links .blog {
  padding: 0 10px 0 20px;
}

#island {
  position: absolute;
  top: 0px;
  left: 50%;
  display: block;
  opacity: 1.0;
  margin-left: -600px;
}

#island:hover, #island.hover {
  opacity: 1.0;
}

/* Create the surrounding box for the map. */

#map {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 7px #1A1A1A;
  border-radius: 4px;
  border-bottom: solid 1px #666;
  border-right: solid 1px #666;
  width: 964px;
  height: 113px;
}

#map ul, #map li {
  padding: 0;
  margin: 0;
  display: inline;
}

/* The current-page indicator arrow.*/

header .arrow {
  position: absolute;
  bottom: -1px;
  display: none;
}

/* The position of the arrow changes depending on the current page. */

body.about header .arrow {
  left: 229px;
  display: block;
}

body.stories header .arrow {
  left: 348px;
  display: block;
}

body.other header .arrow {
  left: 586px;
  display: block;
}

body.software header .arrow {
  left: 733px;
  display: block;
}

body.blog header .arrow {
  left: 870px;
  display: block;
}

.portrait {
  padding: 6px;
  box-shadow: 0px 0px 5px #888;
  display: block;
}

/* Style for content*/

.content-area {
  float: left;
  background-color: white;
  border: 7px solid #d3d3d3;
  box-shadow: 3px 4px 2px #444;
  position: relative;
  overflow: visible;
}

/* Bookmarks icons next to the titles. */

.content-area img.bookmark {
  /* Absolute positioning relative to the content-area so the image can be pulled above the top border */
  position: absolute;
  top: -10px;
  left: 20px;
}

.content-area h1 {
  margin-left: 80px;
  margin-top: 18px;
}

/*About page*/

#bio {
  margin-top: 18px;
}

#bio .portrait {
  float: left;
  margin-right: 15px;
}

/* Main content-area styles.*/

.main {
  width: 662px;
  float: left;
  min-height: 680px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.main h1 {
  color: #aaaaaa;
}

.main article {
  padding: 2px 30px 2px 22px;
}

.main article li {
  padding-bottom: 7px;
}

.main article h2 li {
  padding-bottom: 0px;
}

.main p a, .main li a {
  color: #888;
  text-decoration: none;
}

.main p a:hover, .main li a:hover {
  color: #333;
}

/* Twitter sidebar.*/

#info {
  width: 248px;
  margin-left: 24px;
  overflow: hidden;
  font-size: 75%;
}

#info aside {
  margin: 7px;
  margin-top: 20px;
}

#info p {
  padding: 10px;
}

#info h1 {
  margin-top: 15px;
  margin-left: 7px;
  color: #aaaaaa;
}

#info img {
  margin-left: auto;
  margin-right: auto;
}

#contact {
  border-top: 1px solid #ccc;
}

#contact ul {
  list-style: none;
  padding: 11px 0 0 0;
  margin: 0;
}

#contact li {
  padding: 0 0 8px 0;
  margin: 0;
  margin-left: 6px;
}

#contact a {
  text-decoration: none;
  color: #333;
  background-repeat: no-repeat;
  padding-left: 36px;
  padding-bottom: 10px;
}

#contact a:hover {
  color: #666;
}

/*Blog*/

ul#stacked, ul#stacked li {
  /* Setting a common base */
  margin: 0;
  padding: 0;
}

ul#stacked li {
  display: inline-block;
  vertical-align: top;
}

/*Footer*/

footer {
  width: 662px;
  /* same as .main */
  clear: both;
  color: #b3b2b2;
  font-size: 11px;
  padding: 10px;
  margin-bottom: 50px;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  text-shadow: 0 0 3px #1b1b1b;
}

footer .copyright {
  float: left;
}

footer ul {
  list-style-type: disc;
  float: right;
  padding: 0;
  margin: 0;
}

footer li {
  margin-left: 30px;
  padding-left: 4px;
  float: left;
}

ul.follow {
  clear: left;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

ul.follow li {
  display: block;
  float: left;
}
